In [3]:
import numpy as np
from sklearn import preprocessing, model_selection, neighbors
import pandas as pd

In [38]:
df=pd.read_csv("breastcancerwisconsin.txt")
df.replace('?',-99999,inplace=True)
df.drop(['id'], 1,inplace=True)
df

C:\Users\shiva\AppData\Local\Temp\ipykernel_10472\2641967913.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(['id'], 1,inplace=True)

,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2,1,1,1,2
695,2,1,1,1,2,1,1,1,1,2
696,5,10,10,3,7,3,8,10,2,4
697,4,8,6,4,3,4,10,6,1,4
698,4,8,8,5,4,5,10,4,1,4

In [33]:
X=np.array(df.drop(['class'],1))
y=np.array(df['class'])

C:\Users\shiva\AppData\Local\Temp\ipykernel_10472\111969481.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X=np.array(df.drop(['class'],1))

In [34]:
X_train,X_test,y_train,y_test=model_selection.train_test_split(X,y,test_size=0.2)

In [35]:
clf=neighbors.KNeighborsClassifier()
clf.fit(X_train,y_train)
accuracy=clf.score(X_test,y_test)
accuracy

0.9785714285714285

In [51]:
example=np.array([[4,2,1,1,1,2,3,2,1],[6,2,10,10,8,10,10,10,1]])
example=example.reshape(len(example),-1)
prediction=clf.predict(example)
prediction

array([2, 4], dtype=int64)